.cabecera, .body, .footer{
   
    max-height:100vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;

}

.cabecera{
    background-color: rgb(20, 197, 108);
    padding: 10;
    height: 100px;
    width: 97%;
    font-size: 30px;
    font-family:
   

}
.body {
    background-color: rgb(223, 203, 23);
    min-height: 80vh;                          /*min-height, mínimo de alto*/
    text-align: center;
    

}

.aside{
    background-color: rgb(241, 85, 23);
    min-height: 74vh;                          
    text-align: center;
    width: 20%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px ;
    text-align: center;
    padding: 10px;
    float: right;


}
.contenedor {
    background-color: rgb(233, 20, 13);
    min-height: 74vh;                          
    text-align: center;
    width: 71%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px ;
    text-align: center;
    padding: 10px;
    float: left;

}

.footer {
    background-color: rgb(216, 13, 235);
    height: 50px;
    
    
}