/*Importar fuente externa*/
/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');*/

/*Importar fuente local*/
/*@font-face{
        font-family: 'Dancing Script', cursiva;
        src: url('../Fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
}*/


img {
    float: left;
    margin: 10px;
    width: 30%;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
    
    
}

img:hover {
    width:  40%;
}

.contenedor {
    text-align: justify;
    line-height: 1.5em;
    font-size: 15px;
    font-family:'Dancing Script', cursiva, Arial;     
}

.special {
    color: black;
   
}
.special:hover{              /*hover es para cambiar el aspecto cuando el cursor está encima*/
    font-weight: bold;
    font-family: Arial;

}