.contenedor{
    border: 2px solid #000;
    padding: 20px;
    display: flex;  /*para que se alineen los hijos uno al lado del otro*/
    /*flex-direction:column;    /*row lleva por defecto // row-reverse lo pone al reves*/
    flex-wrap: wrap;    /*si no cabe, lo pone abajo // nowrap si no cabe lo pone todo en la misma columna pero modifica el ancho*/
    /*width: 350px;
    height: 350px;*/
    justify-content:space-around; /*flex-start alinea al principio // flex-end alinea al final // center*/
                                    /*space-around pone el mismo espacio en cada elemento que es el doble de los lados*/
    flex-direction: row;                /*space-between; pone el mismo espacio entre los hijos*/
    width: 100%;                       /*space-evelyn; pone el mismo espacio entre los hijos y los lados*/
}                                    
                                    

.hijo{
    border:1px solid #000;
    width: 100px;
    height: 100px;
    margin: 10px;
    

}