table{
    width: 100%;
    border: solid #ccc;
    margin: 0 auto;
    /*border-collapse: collapse;      /*esto pega los bordes*/
    empty-cells: hide;            /*hide esto quita los bordes de las celdas vacías // show deja los bordes*/ 
}                                   /*Para usar empty-cells no debe estar el border colñapse*/

td{
    border: 1px solid #ccc;
    padding:  5px;
    text-align: center;
}
thead{
      font-weight: bold;  
      background-color: green;                   
}
tbody tr:nth-child(even){               /*colorea las celdas pares del tbody*/
        background-color: #eee;
}

tbody tr:nth-child(odd){            /*colorea las celdas impares*/
    background-color: #fadddd;
}

/*para colorear las columnas */
/*tr td:nth-child(even){            /*colorea las columnas impares // even pares*/
  /*  background-color: #fadddd;
}*/

div p:nth-child(even){
    color: blue;

}

table tr:hover{                               /*Remarca las filas // td marca las celdas individualmente*/
    background-color: brown;
}
